@section Scripts{
    <script src="../js/Quiz/index.js"></script>
}
@section Styles{
    <link href="../countdown/compiled/flipclock.css" rel="stylesheet">
}
Hub Quiz'e hoş geldiniz! Yarışmanın aktif olacağı süre:
<div id="clock"></div>
Yarışma başladığında otomatik olarak sayfaya yönlendirileceksiniz!

